.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    position: relative;
    width: 90%;
    max-width: 1100px;
    box-sizing: border-box;
}
.animated-title span {
    opacity: 0;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    animation: fadeIn 1s forwards;
     margin-right: 12px;
    
}

.animated-title span:nth-child(1) {
    animation-delay: 0s;
}
.animated-title span:nth-child(2) {
    animation-delay: 1s;
}
.animated-title span:nth-child(3) {
    animation-delay: 2s;
}
.animated-title span:nth-child(4) {
    animation-delay: 3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

.text p{

    font-size: 18px;
    color: #4b5563;
    margin: 20px 0;
}
.button-group {
    display: flex;           
    align-items: center;     
    gap: 20px;             
    margin-top: 20px;       
}

.btn-register, .btn-login {
    padding: 10px 25px;      
    font-size: 16px;        
    border-radius: 5px;     
    cursor: pointer;
    box-sizing: border-box; 
    height: 45px;            
}


.btn-register {
    background-color: #10b981; 
    color: white;
    border: none;
}

.btn-login {
    background-color: transparent;
    border: 1px solid #10b981;
    color: #10b981;
}

.image-section img{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 10%;
    top: 150px;
}

.wave-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0; 
    z-index: 1; 
}

.wave-bg svg {
    display: block;
    width: 100%;
    height: auto; 
}

@media(max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: left;
    }

    .image-section img {
        margin-top: 40px;
        width: 70px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}
