.container{

    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid#ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,1) ;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    text-align: center; color: #333;
}
.form-group{
    margin-bottom:15px;

}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.error{
    color: red;
    font-size: 12px;
}

button{
    width:100% ;
    padding:10px ;
    background-color: #28a745;
    color: white;
    border:none ;
    cursor:pointer ;
    margin-top:10px;
}
button:disabled{
    background-color: #ccc;
}
p{
    text-align: center;
    margin-top: 15px;
}