<div class="navbar">
    
    <h2>File Management system</h2>
    
    <div class="nav-links">
        
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="./">Home</a>
            <a routerLink="/aboutus">About</a>
            <a routerLink="/services">Services</a>
        </ng-container>

      
        <ng-container *ngIf="isLoggedIn">
            <a routerLink="/home/dashboard">Dashboard</a>
            <a (click)="logout()" style="cursor: pointer;">Logout</a>
        </ng-container>

    </div>

</div>
<router-outlet></router-outlet>